<button type="button" class="btn btn-light btn-lg"  (click)="goBack()">
<i class="fas fa-arrow-left"></i>
</button>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Id: {{material.Id}}</li>
  <li class="list-group-item">Título: {{material.Title}}</li>
  <li class="list-group-item">Autor: {{material.Author}}</li>
  <li class="list-group-item">Proveedor: {{material.Provider}}</li>
  <li class="list-group-item">Precio: ${{material.Price}}</li>
  <li class="list-group-item">Stock: {{material.Stock}}</li>
</ul>