<button type="button" class="btn btn-light btn-lg" (click)="goBack()">
  <i class="fas fa-arrow-left"></i>
</button>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Id: {{material.Id}}</li>
  <li class="list-group-item">Título: {{material.Titulo}}</li>
  <li class="list-group-item">Autor: {{material.Autor}}</li>
  <li class="list-group-item">Proveedor: {{material.Proveedor}}</li>
  <li class="list-group-item">Precio: ${{material.Precio}}</li>
  <li class="list-group-item">Stock: {{material.Stock}}</li>
</ul>