<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Título</th>
      <th scope="col">Autor</th>
      <th scope="col">Proveedor</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Carrito</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materials" (click)="materialClicked(material)" style="cursor:pointer;">
      <td>{{material.Id}}</td>
      <th scope="row">{{material.Titulo}}</th>
      <td>{{material.Autor}}</td>
      <td>{{material.Proveedor}}</td>
      <td>{{material.Precio}}</td>
      <td>{{material.Stock}}</td>
    </tr>
  </tbody>
</table>
<nav aria-label="..." style="cursor:pointer;">
  <ul class="pagination justify-content-center">
    <li class="page-item d-none d-sm-block" [ngClass]="{disabled : actualPage == 1}">
      <a class="page-link" (click)="prevPage()" tabindex="-1" aria-disabled="true">Anterior</a>
    </li>
    <li class="page-item" *ngFor="let p of pages" [ngClass]="{active : p == actualPage}">
      <a class="page-link" (click)="page(p)">{{p}}</a>
    </li>
    <li class="page-item d-none d-sm-block">
      <a class="page-link" (click)="nextPage()">Siguiente</a>
    </li>
  </ul>
</nav>